      <div class='main'>
        <div class='content assessments'>
          <div class="box-wrap">
            <div class="box box-1 checkeyes">
              <%= link_to 'Check Eyes', static_pages_calibration_path %>
              <div class="hr"></div>
              <h3 href="">Check Eyes</h3>
            </div>
            <div class="box box-2 smoothpursuit">
              <a id='smoothpursuit' href="PleaseEnableJavascript.html">Smooth Pursuit</a>
              <div class="hr"></div>
              <h3 href="">Smooth Pursuit</h3>
            </div>
            <div class="box box-3 cloverleaf">
              <a href="">Clover Leaf</a>
              <div class="hr"></div>
              <h3 href="">Clover Leaf</h3>
            </div>
            <div class="box box-4 ellipse">
              <a href="">Ellipse</a>
              <div class="hr"></div>
              <h3 href="">Ellipse</h3>
            </div>
            <div class="box box-5 zone">
              <a href="">Zone</a>
              <div class="hr"></div>
              <h3 href="">Zone</h3>
            </div>
            <div class="box box-6 feedbackmode">
              <a href="">Feedback Mode</a>
              <div class="hr"></div>
              <h3 href="">Feedback Mode</h3>
            </div>
            <div class="box box-7 figure-8">
              <a href="">Figure 8</a>
              <div class="hr"></div>
              <h3 href="">Figure 8</h3>
            </div>
            <div class="box box-8 gazereader">
              <a href="">Gaze Reader</a>
              <div class="hr"></div>
              <h3 href="">Gaze Reader</h3>
            </div>
            <div class="box box-9 horizontal">
              <a href="">Horizontal</a>
              <div class="hr"></div>
              <h3 href="">Horizontal</h3>
            </div>
            <div class="box box-10 rotating-figure-8">
              <a href="">Figure 8</a>
              <div class="hr"></div>
              <h3 href="">Figure 8</h3>
            </div>
            <div class="box box-11 rounded-rectangle">
              <a href="">Rounded Rectangle</a>
              <div class="hr"></div>
              <h3 href="">Rounded Rectangle</h3>
            </div>
            <div class="box box-12 sinucircle">
              <a href="">Sinucircle</a>
              <div class="hr"></div>
              <h3 href="">Sinucircle</h3>
            </div>
            <div class="box box-13 dotreaction">
              <a href="">Dot Reaction</a>
              <div class="hr"></div>
              <h3 href="">Dot Reaction</h3>
            </div>
            <div class="box box-14 smoothpursuit2">
              <a href="">Smooth Pursuit 2</a>
              <div class="hr"></div>
              <h3 href="">Smooth Pursuit 2</h3>
            </div>
            <div class="box box-15 spiral">
              <a href="">Spiral</a>
              <div class="hr"></div>
              <h3 href="">Spiral</h3>
            </div>
            <div class="box box-16 vertical">
              <a href="">Vertical</a>
              <div class="hr"></div>
              <h3 href="">Vertical</h3>
            </div>
            <div class="box box-17 zone">
              <a href="">Zone</a>
              <div class="hr"></div>
              <h3 href="">Zone</h3>
            </div>

          </div>
          
        </div><!--/.content-->
      </div><!--/.main-->
