<%= javascript_tag "window.onload = function() { calibrationPage.load() }" %>
      <div class='main'>
        <div class='content calibration'>
        <h2>Calibration</h2>
          <div class="left">
          	<div class="config-wrap">
	          	<div class="eye-instruction">
	          		
	          	</div>
	          	<div id="left" class="webcam-config">
                  <h4 class="not-found">CAMERA <br/> NOT FOUND </h4>
	          	</div>
	        </div>
          	<div class="hr"></div>
          	<h3>Left Eye</h3>
            

          </div>
           <div class="right">
          	<div class="config-wrap">
	          	<div class="eye-instruction">
	          		
	          	</div>
	          	<div class="webcam-config">
                  <h4 class="not-found">CAMERA <br/> NOT FOUND </h4>
	          	</div>
	        </div>
          	<div class="hr"></div>
          	<h3>Right Eye</h3>
            

          </div>
        </div><!--/.content-->
      </div><!--/.main-->
