<div class='main'>
  <div class='logo'></div>
  <div class='content landing'>
    <div class="box-wrap">
      <div class="box box-1 quickstart">
        <a id='quickstart' href="PleaseEnableJavascript.html">Quick Start</a>

      </div>
      <div class="box box-2 select-assessment">
        <a href="assessments.html">Select Assessment</a>
      </div>
      <div class="box box-3 records">
        <a href="/results-list.html">Records</a>
      </div>
    </div>
    <div class="search">
      <input type="text" placeholder="Username"/>
    </div>

  </div><!--/.content-->
</div><!--/.main-->

