<%= javascript_tag "window.onload = function() { testPage.load() }" %>
  <div class='logo'></div>
  <div class='content landing'>
    <div class="box-wrap">
      <div class="box box-1 quickstart">
        <a id='quickstart' href="PleaseEnableJavascript.html">Quick Start</a>

      </div>
      <div class="box box-2 select-assessment">
        <%= link_to 'Select Assessment', tests_path %>
      </div>
      <div class="box box-3 records">
        <%= link_to 'Records', records_path %>
      </div>
    </div>
    <div class="search">
      <input type="text" placeholder="Username"/>
    </div>

  </div><!--/.content-->

