<div class='content landing'>
	   <div id="InkMotion"></div><div id="out"></div>
  <canvas class='test-canvas' id='test'></canvas>
</div><!--/.content-->
<% #javascript_tag "window.onload = setTimeout(function() { window.app = new InkMotion(); }, 200)" %>
<%= javascript_tag "$('.test-canvas').click(#{@test.object}.begin)" %>
