<div class='content landing'>
	   <div id="InkMotion"></div><div id="out"></div>
</div><!--/.content-->
<%= javascript_tag "window.onload = setTimeout(function() { window.app = new InkMotion(); }, 200)" %>
