<div class='header'>
  <div class='utility'>
    <% if signed_in? then %>
      <%= button_to "Sign out", signout_path, method: :delete, class: "pill" %>
    <% else %>
      <%= button_to "Sign up", signup_path, method: :get, class: "pill" %>
    <% end %>
    <%= button_to "Main menu", root_path, method: :get, class: "pill"%>
    <% #<button id='cancel' class='pill back' style='visibility:hidden'> %>  
      <% #Cancel %>
    <% #</button> %>
  </div>
  <div class='top-logo'>
    <div class='h1'>
      <a href='http://synthink.com'></a>
    </div>
  </div>
</div>
